body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.timeline {
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-x: scroll;
  white-space: nowrap;
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(auto-fill, minmax(0, 2fr));
  /* gap: 0; */
}

.timeline-event {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  height: 30px;
  top: 20px;
  animation: fadeIn 1s ease-in-out;
}

.event-bar {
  position: absolute;
  height: 10px;
  background-color: #007bff;
  border-radius: 4px;
  z-index: 1;
  padding: 1px;
  animation: slideIn 1s ease-in-out;
}

.event-name {
  position: relative;
  z-index: 2;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 5px;
  display: block;
  text-align: center;
  color: #333;
  white-space: nowrap;
}

.timeline-container {
  position: relative;
}

.zoom-controls {
  margin-bottom: 10px;
}

.resize-handle {
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #000;
  cursor: ew-resize;
}

.resize-handle.start {
  left: 0;
}

.resize-handle.end {
  right: 0;
}

/* Keyframes for animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.tooltip {
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
